@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Yeseva One";
    background-color: #fcfbf9;
}

/* Colours */

.bg-black {
    background-color: #000;
}

/* Header and Nav */

header {
    padding-bottom: 30px;
    height: 150px;
    width: 100%;
}

.logo {
    height: 150px;
    margin-left: 20px;
}

nav form {
    padding-top: 90px;
}

/* Featured Banner */

.featured-banner {
    text-align: center;
}

/* Product Display */

.product-display {
    overflow-x: auto;
    white-space: nowrap;
}
/* About the Business */

.business-about {
    margin: 25px 50px;
}

.business-about img {
    height: 300px;
}

.business-about
.card {
    width: 100%;
}

/* footer */

footer {
    padding: 10px;
}

footer h4 {
    text-align: center;
}

footer ul {
    list-style-type: none;
}

/* Bootstrap Overrides  */

h5 {
    margin-bottom: 20px;
}

element.style {
    max-width: none;
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
}

.card {
    width: 250px;
    background-color: transparent;
    margin-left: 20px;
    display: inline-block;
}

/* Styling used to override bootstrap element.style max-width 540px */

.business-about .card {
    max-width: none !important;
}

.card button {
    margin-left: 60px;
}

.card-img-top {
    height: 275px;
}

a {
    color: #fff;
}

a:hover {
    color: #adb5bd;
    text-decoration: none;
}
